/* Portfolio Project by Frank Jacob */

/* default styles */

html, body {
    margin: 0;
    padding: 0;
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 1.2em;
    text-align: left;
}

h2 {
    font-size: 0.8em;
    text-align: left;
    font-style: italic; 
}

h3 {
    font-size: 0.5em;
}

p {
    font-size: 0.3em;
}

a {
    color: black;
    font-style: italic;
}

.header {
    background-color: rgb(230, 230, 230);
    color: #000000;
    min-height: 40px;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    align-self: flex-start;
}

.headline {
    padding-left: 2.5%;
    width: 70%;
    align-self: flex-start;
}

.burgerMenue {
    width: 40px;
    height: 40px;
    align-self: flex-start;
}

.introduction {
    height: 160px;
}

.projectList {
    background-color: rgb(230, 230, 230);
    height: 280px;
    align-items: flex-start;
    justify-content: space-between;
}

.project1 {
    background-color: rgb(160, 160, 160);
    height: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.project-img {
    height: 60px;
    width: 90px;
    align-self: flex-start;
}
.project-text {
    height: 60px;
    width: 70%;
}

.project2 {
    background-color: rgb(140, 140, 140);
    height: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.project3 {
    background-color: rgb(120, 120, 120);
    height: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.project4 {
    background-color: rgb(100, 100, 100);
    height: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.footer {
    background-color: white;
    color: #BD10E0;
    height: 48px;
    padding-top: 1%;
    padding-left: 2.5%;
}


/* styles to define the responsiveness */

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header {
      display: flex;
      flex-wrap: nowrap;
  }

  .projectList {
      display: flex;
      flex-wrap: wrap;
  }

  .project1 {
      display: flex;
      flex-wrap: nowrap;
  }

  .project2 {
    display: flex;
    flex-wrap: nowrap;
}

.project3 {
    display: flex;
    flex-wrap: nowrap;
}

.project4 {
    display: flex;
    flex-wrap: nowrap;
}

  .box {
    width: 100%;
  }

  /* media queries / breakpoints */

  /* optimized for iPad */

  @media screen and (min-width: 380px) {
      /*.box {
          min-height: auto;
      }*/

      .introduction {
          width: 50%;
      }

      .headline {
          width: 50%;
      }
  }

  @media screen and (min-width: 500px) {

    .introduction {
        width: 50%;
    }

    .headline {
        width: 50%;
    }

    .project1 {
        width: 50%;
    }

    .project2 {
        width: 50%;
    }

    .project3 {
        width: 50%;
    }

    .project4 {
        width: 50%;
    }
}

@media screen and (min-width: 801px) {

    .burgerMenue {
      display: none;
    }

    .projectList {
        align-items: stretch;
    }

    .project1 {
        width: 25%;
    }

    .project2 {
        width: 25%;
    }

    .project3 {
        width: 25%;
    }

    .project4 {
        width: 25%;
    }
}

  /* optimized for desktop */

@media screen and (min-width: 1024px) {
    .container {
          width: 1024px;
          margin-left: auto;
          margin-right: auto;
    }
}