/* Portfolio Project by Frank Jacob */

/* default styles */

html, body {
    margin: 0;
    padding: 0;
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

title {
    font-size: 1.5em;
    text-align: left;
}

.box {
    min-height: 64px;
  }

.header {
    background-color: #2A457A;
    color: #efefef;
    height: 64px;
}

.introduction {
    background-color: #099DD9;
    height: 192px;
}

.headline {
    background-color: rgb(179, 210, 52);
    height: 64px;
}

.projectList {
    background-color: rgb(77, 190, 161);
    height: 256px;
}

.footer {
    background-color: #F79420;
    height: 64px;
}


/* styles to define the responsiveness */

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .box {
    width: 100%;
  }